page-tab2 {
    .scroll-content {
        background-color: green;
        background-image: linear-gradient(green, yellow);
        color: white;
      }
      .main-content {
        height: 100%;
      }
}
